SwiftLogistics-Middleware-main/Client Management System/wsdl/billing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://swiftlogistics.com/cms/billing"
             targetNamespace="http://swiftlogistics.com/cms/billing">
    
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://swiftlogistics.com/cms/billing">
            <element name="ProcessBillingRequest">
                <complexType>
                    <sequence>
                        <element name="billingId" type="string"/>
                        <element name="amount" type="double"/>
                        <element name="clientId" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="ProcessBillingResponse">
                <complexType>
                    <sequence>
                        <element name="billingResult" type="tns:BillingResult"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="BillingResult">
                <sequence>
                    <element name="id" type="string"/>
                    <element name="status" type="string"/>
                    <element name="processedAt" type="string"/>
                </sequence>
            </complexType>
        </schema>
    </types>
    
    <message name="ProcessBillingRequest">
        <part name="parameters" element="tns:ProcessBillingRequest"/>
    </message>
    <message name="ProcessBillingResponse">
        <part name="parameters" element="tns:ProcessBillingResponse"/>
    </message>
    
    <portType name="BillingServicePortType">
        <operation name="ProcessBilling">
            <input message="tns:ProcessBillingRequest"/>
            <output message="tns:ProcessBillingResponse"/>
        </operation>
    </portType>
    
    <binding name="BillingServiceBinding" type="tns:BillingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ProcessBilling">
            <soap:operation soapAction="ProcessBilling"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>
    
    <service name="BillingService">
        <port name="BillingServicePort" binding="tns:BillingServiceBinding">
            <soap:address location="http://localhost:8080/cms/billing"/>
        </port>
    </service>
</definitions>