SwiftLogistics-Middleware-main/Client Management System/wsdl/contracts.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://swiftlogistics.com/cms/contracts"
             targetNamespace="http://swiftlogistics.com/cms/contracts">
    
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://swiftlogistics.com/cms/contracts">
            <element name="GetContractRequest">
                <complexType>
                    <sequence>
                        <element name="contractId" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="GetContractResponse">
                <complexType>
                    <sequence>
                        <element name="contract" type="tns:Contract"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="Contract">
                <sequence>
                    <element name="id" type="string"/>
                    <element name="clientId" type="string"/>
                    <element name="terms" type="string"/>
                    <element name="status" type="string"/>
                </sequence>
            </complexType>
        </schema>
    </types>
    
    <message name="GetContractRequest">
        <part name="parameters" element="tns:GetContractRequest"/>
    </message>
    <message name="GetContractResponse">
        <part name="parameters" element="tns:GetContractResponse"/>
    </message>
    
    <portType name="ContractServicePortType">
        <operation name="GetContract">
            <input message="tns:GetContractRequest"/>
            <output message="tns:GetContractResponse"/>
        </operation>
    </portType>
    
    <binding name="ContractServiceBinding" type="tns:ContractServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetContract">
            <soap:operation soapAction="GetContract"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>
    
    <service name="ContractService">
        <port name="ContractServicePort" binding="tns:ContractServiceBinding">
            <soap:address location="http://localhost:8080/cms/contracts"/>
        </port>
    </service>
</definitions>